.video-container {
    position: relative;
    width: 50%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    margin-top: 20px;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 60%;
  }
  