nav {
    display: flex;
    border-bottom: 1px solid #f3f3f3;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    z-index: 999;
    /* margin-left: 2rem; */

  }
  /* input::placeholder{
    background-color: rgb(255, 255, 255);
  }
  
  input[type="text"] {
    color: #010101;
}
  */
  
  /* .nav-icons {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 2rem;
  }
   */
   